{% extends 'webapp/base.html' %} {% block content %}

<div class="container">
  {% if form.errors %}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Errors
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

{% endif %}
<div
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div
    class="shadow p-3 mb-5 rounded"
    style="background-color: rgba(197, 192, 192, 0.7); width: 70%"
  >
    <h1 class="text-center">User Register Form</h1>
    <br />
    <form action="{% url 'registerpage' %}" method="POST">
      {% csrf_token %} {{form.as_p}}
      <br />
      <div style="width: 100%; display: flex; justify-content: center">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
